<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <script src="https://js.stripe.com/v3"></script>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">
        <% include ../static/partials/messages.ejs %>
        <div id="error-message"></div>
        
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Richipedia</h1>

          <script>
            var stripe = Stripe('pk_test_uXWAi7Xr6OmH0ox2VG8IGgIS00pGr1abFp');
            var checkoutButton = document.getElementById('checkout-button-plan_FUu6xcMtToPuzG');

            checkoutButton.addEventListener('click', function () {
              stripe.redirectToCheckout({ items: [{plan: 'plan_FUu6xcMtToPuzG', quantity: 1}], successUrl: '/', cancelUrl: '/', })
              .then(function (result) { if (result.error) {
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
            } }); });
          </script>


          <% if(currentUser && currentUser.role === 1) { %>
            <p class="lead">Welcome, Premium User!</p>
            <p class="lead">Enjoy Creating & Reading Private/Public Wikis!</p>
            <br>
            <br>
            <p class="lead">If you choose to downgrade, all your private wikis will become public.</p>


            <form style="display:initial" action="/users/<%=currentUser.id%>/downgrade" method="post">
              <button type="submit" class="btn btn-danger">Downgrade</button>
            </form>


          <% } else if( (currentUser && currentUser.role == 2) || (user && user.role == 2) ){ %>
            <p class="lead">Welcome, Admin User!</p>
            <p class="lead">Enjoy Creating, Reading, and Editing Wikis!</p>
          <% } else { %>
            <p class="lead">An application for users to share wikis.</p>
          <% }%>

          <% if( (currentUser && currentUser.role == 0) || (user && user.role == 0) ) { %>
            <p class="lead">Upgrade to a Premium Account to create private Wikis.</p>
            <p class="lead">Plans start as low as $10,000/month!</p>
            <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
              <script 
              src="https://checkout.stripe.com/checkout.js" 
              class="stripe-button" 
              data-key="pk_test_uXWAi7Xr6OmH0ox2VG8IGgIS00pGr1abFp" 
              data-amount="1000000" 
              data-name="Premium Subscription" 
              data-locale="auto">
              </script>
            </form>
          <% } %>

          <% if( currentUser  ) { %>
            <a class="nav-link" href="/users/sign_out">Sign Out</a>
          <% } else { %>
            <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
          <% }%>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Inform</h4>
            <p class="card-text">Teach anything from the perspective of an everyday expert.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Contribute</h4>
            <p class="card-text">Add your perspective to broaden the scope of any existing topic.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Learn</h4>
            <p class="card-text">Access thousands of perspectives dedicated to one thing, knowledge.</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->
      <% include ./partials/baseScripts.ejs %>
      
       </body>
</html>