<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    
    <main class="container">

      <% include ../static/partials/messages.ejs %>
      
      <header class="jumbotron my-4">

        <h2 class="display-3">Welcome to Richipedia</h2>
        
      </header>
      
        <div class="row">
          <div class="col-md-8">
            <form method="POST" action="/users/sign_up">
              <div class="form-group">
                <label>Username (4-15 characters):</label>
                <input type="text" name="username" placeholder="Enter Name" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Password (8-20 characters):</label>
                <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password_conf" placeholder="Enter Password confirmation" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="private">What Type Of Account Would You Like? ( This is for testing the site )</label>
                <select class = "form-control" name="role">
                  <option value = "0">Standard</option>
                  <option value = "1">Premium</option>
                  <option value = "2">Admin</option>
                </select>
              </div>
              <br/>

              <input type="submit" value="Sign Up" class="btn btn-primary"/>
            </form>
          </div>
        </div>
      
    </main>
  
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>